{% extends "base.html" %}
{% from "field_render.html" import render_field %}

{% block header %}
    User login
{% endblock %}
{% block content %}
    <div class="columns">
        <div class="column is-one-third">
            <form method="POST" action="{{ url_for('user.login') }}">
                {{ form.hidden_tag() }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.user_type) }}
                {{ form.login(class="button is-primary") }}
            </form>
        </div>
    </div>
{% endblock %}
