<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello MyShop!</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
</head>
<body>
<section class="hero is-link">
    <div class="hero-body">
        <p class="title">
            <a href="{{ url_for('product.product_list') }}"> Multi shop</a>
        </p>
        <p class="subtitle">
            You can buy anything
            <br>
            {{ current_user.user_type }} {{ current_user.username }}
        </p>
    </div>
</section>

<section class="section">
    <div class="box">
        <h1 class="title">
            {% block header %}
            {% endblock %}
        </h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <article class="message is-info">
                        <div class="message-body">
                            {{ message }}
                        </div>
                    </article>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
</section>
</body>
</html>